body {
  margin: 0;
  height: 100vh;
  background: rgb(29, 29, 29);
  transition: background-color 2s ease-in-out;
}
#progress {
  height: 1px;
  background: gray;
  position: absolute;
  top: 45%;
  opacity: 1;
  z-index: 2;
  transition: width 0.1s ease;
}
